# dir_out: ./out # 出力ディレクトリ. この設定ファイルからの相対パス or 絶対パスで指定. デフォルトは "./out"
# dir_raw: ./raw # raw だけは別ディレクトリに個別に設定できる。デフォルトは "./raw"
project: en-easy # プロジェクト名
field: # タブ区切りのフィールドに名前をつけ、使用する音声名を指定
  en: en-US-Wavenet-F # １つ目のフィールドは英語の音声
  ja: ja-JP-Wavenet-A # ２つ目は日本語として読み上げ
concat: # １行の各フィールドを合成するルールを指定
  en_ja: [en, 1.0, ja, 1.0] # 英語-無音1秒-日本語-無音1秒 で結合
  ja_en: [ja, 1.0, en, 1.0] # 日本語-無音1秒-英語-無音1秒 で結合
compile: # 全行を結合(compile)する時、en_ja はシャッフルして結合
  ja_en: shuffle
filter: # Google に送る前にテキストを加工するための filter を指定
  ja: normalize_japanese # 日本語のテキストの"〜"を"なになに"に書き換える等
mix:
  ja_en: piano2keikai-v0.1.mp3
album: # アルバム名やジャケット画像を指定
  en_ja:
    artist: YOUR_NAME
    title: en-easy-en_ja
    jacket: en-easy-en_ja.png
  ja_en:
    artist: YOUR_NAME
    title: en-easy-ja_en
    jacket: en-easy-ja_en.png
